/*formato completo sin margenes ni paddings*/

* {
    margin: 0;
    padding: 0;
}

.wrapper {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;

}

/*contenedor superior*/

.container-up {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-color: transparent;
    
}

.buscador {

    display: flex;
    width: 60%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;

}

.logo img {

    width: 60%;
}

.up-left {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
    
}

.up-right {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    border-top: 1px solid white;
    padding: 20px;
    box-sizing: border-box;

}

.div-right-up {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 1px solid white;
    padding: 30px;

}

/*Descripcion y datos de la pelicula.*/

#title {

    font-family: helvetica;
    font-weight: bold;
    color: white;
    font-size: 60px;
    line-height: 50px;
}

#actor {
    font-family: helvetica;
    font-weight: bolder;
    font-size: 40px;
    color: yellow;
}

#description {
    font-family: helvetica,thin;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    color: white;
    width: 80%;
    letter-spacing: 1px;
    margin-top: 10px;
}

/*Contenedor de las peliculas inferior*/

.container-pelis {

    display: flex;
    align-items: flex-end;
    width: auto;
    height: 40%;
    background-image: linear-gradient(90deg,rgba(19, 19, 19, 0.87),rgb(0, 0, 0));

/*input para la busqueda de las pelis*/

}

#input-busqueda:focus {
    width: 400px;
    height: 20px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    border: 0px;
    text-align:right ;
}

#input-busqueda:enabled {
    width: 400px;
    height: 20px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    border: 0px;
    text-align:right;
    margin-right: 20px;

}

#input-busqueda:hover {
    outline: none;
    border: 0px;
    animation: ease-in-out;
    transition: ease-in-out;
}

/*formateado del grid para contenedor inferior*/

.container-grid {

    display: grid;
    grid-template-columns: repeat(5,150px);
    grid-gap: 10px;
    width: auto;
    height: 90%;
    padding: 10px;
}

.fotopeli {

    width: 100%;
    justify-content: center;
    overflow: hidden;

}

#img-index {

    width: 100%;
 
}

.capa-negra {

    position: absolute;
    top: 0px;
    right: 0px;
    background-image: linear-gradient(90deg,rgba(71, 71, 71, 0.767),rgb(0, 0, 0));
    width: 100vw;
    height: 100vh;
    z-index: -1;
    mix-blend-mode: color-burn;
    
}

.fondo-peli {

    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;

}

.header-up {

    display: flex;
    width: 100%;
    height: 20%;
}


.container-mid {

    display: flex;
    width: 100%;
    height: 80%;

}
.imgBusqueda {

    position: absolute;
    left: 5%;
    top: 15%;
    width: 23%;
    height: 42%;
    z-index: 2;
    overflow: hidden;
    

}

.img-busqueda {

    height: 100%;
}


/*iconos*/

.material-icons {

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    color: white;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    direction: ltr;
    transition: 0.1s ease-in-out;

}

.material-icons:hover {

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  /* Preferred icon size */
    color: white;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    direction: ltr;
    padding-right: 20px;
    transition: 0.1s ease-in-out;

}