* {
    margin: 0;
    padding: 0;
}

.wrapper {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;

}

.container-up {

    display: flex;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(45deg, rgb(39, 39, 39),rgb(0, 0, 0));
    overflow: hidden;

}

.container-pelis {

    display: flex;
    align-items: flex-end;
    width: auto;
    height: 40%;

}

.container-grid {

    display: grid;
    grid-template-columns: repeat(5,150px);
    grid-gap: 10px;
    width: auto;
    height: 90%;
    padding: 10px;
}

.fotopeli {
    width: 100%;
    justify-content: center;
    overflow: hidden;

}

#img-index {
    width: 100%;
 
}

.video-peli {
    position: relative;
    width: 80%;
}


#fondo-up {
    position: relative;
    width: 100%;
    height: auto;

}