* {
    margin: 0;
    padding: 0;
}

.wrapper {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;

}

.container-up {

    display: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    mix-blend-mode: multiply    ;

}

.up-left {
    display: flex;
    width: 40%;
    height: 100%;
    border: 1px solid white;
}

.up-right {

    display: flex;
    width: 60%;
    height: 100%;

}

.container-pelis {

    display: flex;
    align-items: flex-end;
    width: auto;
    height: 40%;

}

.container-grid {

    display: grid;
    grid-template-columns: repeat(5,150px);
    grid-gap: 10px;
    width: auto;
    height: 90%;
    padding: 10px;
}

.fotopeli {
    width: 100%;
    justify-content: center;
    overflow: hidden;

}

#img-index {
    width: 100%;
 
}

.video-peli {
    position: relative;
    width: 80%;
}


#fondo-up {
    position: relative;
    width: 100%;
    height: auto;

}

.capa-negra {
    position: relative;
    background-image: linear-gradient(90deg,rgb(71, 71, 71),rgb(17, 17, 17));
    width: 100%;
    height: 70%;
    z-index: 1;
}